<%= form_for @applicant, html: { class: "contactForm", id: "contactForm" }, remote: true do |f| %>
  <div class="formSuccessMessageWrap flash-hidden" id="formSuccessMessageWrap">
    <div class="big-notification green-notification full-bottom" id="apply-sucess">
      <h5 class="uppercase">Awesome!</h5>
      <a href="#" class="close-big-notification">x</a>
      <p>Your code is going to be reviewed by one of our mentors, we will let you know if you are qualified for this adventure!</p>
    </div>
  </div>

  <div class="formFailureMessageWrap flash-hidden" id="formFailureMessageWrap">
    <div class="big-notification red-notification full-bottom" id="apply-errors">
      <h5 class="uppercase">Sorry</h5>
      <a href="#" class="close-big-notification">x</a>
      <ul id="errors-list">
      </ul>
    </div>
  </div>

  <fieldset class="full-bottom" id="apply-fieldset">
    <div class="formFieldWrap container">
      <%= f.label :name, class: "field-title contactNameField" %>
      <%= f.text_field :name, class: "contactField field-deco requiredField" %>
    </div>
    <div class="formFieldWrap container">
      <%= f.label :email, class: "field-title contactEmailField" %>
      <%= f.text_field :email, class: "contactField field-deco requiredField requiredEmailField" %>
    </div>
    <div class="clear"></div>
    <div class="formTextareaWrap container">
      <%= f.label :github, class: "field-title contactGithubField" %>
      <%= f.text_field :github, class: "contactField field-deco requiredField" %>
    </div>
    <div class="formSubmitButtonErrorsWrap">
      <i class="fa fa-envelope"></i>
      <%= f.submit "Apply", class: "buttonWrap contactSubmitButton" %>
    </div>
  </fieldset>
<% end %>
