<div class="header">
  <div class="box-960">
      <div class="header-elements">
        <div class="logo">
          <%= image_tag "misc/logo.png", :class => "style_image" %>
    </div>
    <a href="#" class="deploy-navigation"></a>
    </div>
    <div class="navigation">
      <a data-scroll-nav="0" href="#">  <i class="fa fa-picture-o"></i>   <em>Home</em>      </a>
      <a data-scroll-nav="1" href="#">  <i class="fa fa-home"></i>     <em>Welcome</em>     </a>
      <a data-scroll-nav="2" href="#">  <i class="fa fa-user"></i>     <em>Pet Projects</em>     </a>
      <a data-scroll-nav="3" href="#">  <i class="fa fa-picture-o"></i> <em>About</em> </a>
      <a data-scroll-nav="4" href="#">  <i class="fa fa-picture-o"></i> <em>Team</em> </a>
      <a id= "apply-nav" data-scroll-nav="5" href="#">  <i class="fa fa-envelope-o"></i>   <em>Apply!</em>    </a>
        </div>
    </div>
  </div>

  <div class="slider-container adaptive-height" data-scroll-index="0">
    <div class="fulscreen-slider-controls">
        <a href="#" class="next-home-fullscreen"></a>
        <a href="#" class="prev-home-fullscreen"></a>
    </div>
    <div class="fullscreen-slider" data-snap-ignore="true">                
        <div class="slide-image item">
            <div class="slider-overlay"></div>
            <div class="fullscreen-caption">
                <h3>Learn by doing!</h3>
                <p>There is no way of learning something new, like being in action</p>
                <a data-scroll-nav="1" href="#" class="button button-green button-slider" style="margin-left: 635px;">Check it out!</a>
            </div>
            <%= image_tag "general-fullslider/1.jpg", class: "full-image" %>
        </div>
        <div class="slide-image item">
            <div class="slider-overlay"></div>
            <div class="fullscreen-caption">
                <h3>Pet Projects</h3>
                <p>
                 Be creative, innovative... 
                </p>
                <a data-scroll-nav="2" href="#" class="button button-green button-slider" style="margin-left: 635px;">Challenge yourself!</a>
            </div>
            <%= image_tag "general-fullslider/5.jpg", class: "full-image" %>
        </div>
        <div class="slide-image item">
            <div class="slider-overlay"></div>
            <div class="fullscreen-caption">
                <h3>How we work?</h3>
                <p>Always the best way for a person to learn</p>
                <a data-scroll-nav="3" href="#" class="button button-green button-slider" style="margin-left: 635px;">Check it out!</a>
            </div>
            <%= image_tag "general-fullslider/7.jpg", class: "full-image" %>
        </div>
        <div class="slide-image item">
            <div class="slider-overlay"></div>
            <div class="fullscreen-caption">
                <h3>The best mentors</h3>
                <p>
                 We provide all our knowledge.
                </p>
                <a data-scroll-nav="4" href="#" class="button button-green button-slider" style="margin-left: 635px;">Meet the team!</a>
            </div>
            <%= image_tag "general-fullslider/2.jpg", class: "full-image" %>
        </div>
        <div class="slide-image item">
            <div class="slider-overlay"></div>
            <div class="fullscreen-caption">
                <h3>Are you ready for this?</h3>
                <p>
                  As easy as apply and join us
                </p>
                <a data-scroll-nav="5" href="#" class="button button-green button-slider" style="margin-left: 635px;">Apply!</a>
            </div>
            <%= image_tag "general-fullslider/4.jpg", class: "full-image" %>
        </div>
        <div class="slide-image item">
            <div class="slider-overlay"></div>
            <div class="fullscreen-caption">
                <h3>And... It's in Costa Rica</h3>
                <p>
                  You are about to know the best country in the world
                </p>
            </div>
            <%= image_tag "general-fullslider/3.jpg", class: "full-image" %>
        </div>
    </div>
</div> 
<div class="slider-clear"></div>


<div class="content" data-scroll-index="1">
  <div class="box-960">
      <div class="decoration"></div>
        <div class="welcome-container larger-text">
        <h1 class="center-text heading">The programme</h1>
        <p class="center-text">
              After two years of intensive research and experiments, we have finally created a formal process that can make 
              you a creative and innovated person, a developer of new ideas, solutions and services. This can be achieved 
              through pet projects, which are structured on four fundamental pilars: <strong>Pair programming</strong>,
              <strong>Theoretical Training</strong>, <strong>Experience</strong> and <strong>Soft Skills</strong>
        </p>
        </div>
        <div class="orange-decoration hide-if-mobile animated fadeIn"></div>
        <div class="decoration hide-if-responsive"></div>
  </div>
</div>
      
<div class="features-slider-wrapper width-90 half-bottom item">
    <div class="features-slider-controls">
        <a href="#" class="prev-features-slider animated fadeIn"></a>
        <a href="#" class="next-features-slider animated fadeIn"></a>
    </div>
    <div class="features-slider">
        <div class="center-icon-column blue-center-icon-column width-80 animated slideInLeft">
            <h1><i class="fa fa-lightbulb-o fa-3x"></i></h1>
            <h5>Come up with an idea</h5>
            <div class="center-column-icon-decoration"></div>
            <p>
                We develop through Pet Projects and we are looking for creative and innovative 
                people who wish to develop their ideas using our experience about software 
                development.
            </p>
        </div>
        <div class="center-icon-column dark-center-icon-column width-80 animated slideInDown">
            <h1><i class="fa fa-users fa-3x"></i></h1>
            <h5>Mentor</h5>
            <div class="center-column-icon-decoration"></div>
            <p>
                You really deserve the experience and the expertise of a person that
                can guide you and take you to the next level. That's the reason we have the best
                mentors available for you!
            </p>
        </div>
        <div class="center-icon-column red-center-icon-column width-80 animated slideInDown">
            <h1><i class="fa fa-code fa-3x"></i></h1>
            <h5>Reviews</h5>
            <div class="center-column-icon-decoration"></div>
            <p>
                Mentors will review your idea, your code and your interest to be part of our team. 
                With this, you can improve your idea and be closer to be part of our team. Take the
                challenge, is up to you!
            </p>
        </div>
        <div class="center-icon-column green-center-icon-column width-80 animated slideInRight">
            <h1><i class="fa fa-check fa-3x"></i></h1>
            <h5>Join Us!</h5>
            <div class="center-column-icon-decoration"></div>
            <p>
                After reviewing your idea and see your potential, you can join our company 
                and be part of the group of collaborators. Also grow not only as a professional
                but also as a person.
            </p>
        </div>
    </div>
</div> 

<div class="decoration box-960"></div> 

<div class="parallax-strip-section full-bottom">
  <div class="parallax parallax-quotes bg1" data-stellar-background-ratio="0.5" data-stellar-offset-parent="true">
    <div class="parallax-slider-wrapper item">
      <div class="parallax-overlay"></div>
      <div class="quotes-slider item box-960">
        <div class="width-70">
          <h1 class="center-text">
            "I believe in innovation and that the way you get innovation is you fund research and you learn the basic facts."
          </h1>
          <p class="right-text">
            Bill Gates
          </p>
        </div>
        <div class="width-70">
          <h1 class="center-text">
            "You see things; and you say, 'Why?' But I dream things that never were; and I say, 'Why not'?"
          </h1>
          <p class="right-text">
            George Bernard Shaw
          </p>
        </div>
        <div class="width-70">
          <h1 class="center-text">
            "A leader is one who knows the way, goes the way, and shows the way."
          </h1>
          <p class="right-text">
            John Maxwell
          </p>
        </div> 
        <div class="width-70">
          <h1 class="center-text">
            "Ability is what you're capable of doing. Motivation determines what you do. Attitude determines how well you do it."
          </h1>
          <p class="right-text">
            Lou Holtz
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="content" data-scroll-index="2">
  <div class="box-960">
      <div class="decoration"></div>
        <div class="welcome-container larger-text">
        <h1 class="center-text heading">Pet Projects</h1>
            <p class="center-text">
              Our program consists of an introduction and a set of challenges through 
              <strong>pet projects</strong>, in order to provide you with the experience 
              in the necessary tools to become a <strong>professional software developer</strong>.
              The opportunity to learn is always present in our collaborators, and pet
              projects will help you to implement that <strong>knowledge</strong>. We look for: 
            </p>
        </div>
        <div class="orange-decoration hide-if-mobile animated fadeIn"></div>
        <div class="decoration hide-if-responsive"></div>
  </div>
</div>

<div class="features-slider-wrapper width-90 half-bottom item">
    <div class="features-slider-controls">
        <a href="#" class="prev-features-slider animated fadeIn"></a>
        <a href="#" class="next-features-slider animated fadeIn"></a>
    </div>
   <div class="features-slider">
        <div class="center-icon-column blue-center-icon-column width-80 animated slideInLeft">
          <h1><i class="fa fa-rocket fa-3x preload responsive-image"></i></h1>
          <h5>Innovation</h5>
          <div class="center-column-icon-decoration"></div>
            <p>
              We seek apprentices with the desire to implement new features, applying new ideas, 
              concepts and practices, so that their knowledge increased as productivity. If you 
              have an idea, this is your oportunity!
            </p>
        </div>
        <div class="center-icon-column green-center-icon-column width-80 animated slideInLeft">
            <h1><i class="fa fa-magic fa-3x"></i></h1>
            <h5>Creativity</h5>
            <div class="center-column-icon-decoration"></div>
            <p>
              Creativity is an important skill in our apprentices. We want you to see problems 
              as opportunities, and generate these innovative ideas to solve these problems in 
              pet projects. We want to see you in action with a clear mind!
            </p>
        </div>
        <div class="center-icon-column red-center-icon-column width-80 animated slideInRight">
            <h1><i class="fa fa-user fa-3x"></i></h1>
            <h5>Leadership</h5>
            <div class="center-column-icon-decoration"></div>
            <p>
              We seek that enthusiasm for a common goal in pet projects, so that our apprentices 
              lead others to be creative and innovative, making good decisions for the team and 
              our company. Be a leader!
            </p>
        </div>
        <div class="center-icon-column dark-center-icon-column width-80 animated slideInRight">
            <h1><i class="fa fa-thumbs-o-up fa-3x"></i></h1>
            <h5>Motivation</h5>
            <div class="center-column-icon-decoration"></div>
            <p>
              We want our apprentices always be motivated to face new challenges, create new ideas 
              with their pet projects and provide this motivation to others. We want people interested 
              in learning and willing to improve! 
            </p>
        </div>
    </div>
</div> 
        
<div class="decoration box-960"></div> 

<div class="parallax-box bg1" data-scroll-index="3" data-stellar-background-ratio="0.5" data-stellar-offset-parent="true">
  <div class="content dark-content item">
  <div class="box-960">
      <div class="decoration"></div>
        <div class="welcome-container larger-text animated flipInX delay-500">
        <h1 class="center-text heading">The way we educate the apprentice</h1>
            <p class="center-text">
              After numerous attempts, we have found the best way for a person to learn, is simply by doing. We ensure our apprentices look for solutions <strong>on their own.</strong>
            </p>
            <p class="center-text">
              Once they figure one of the solutions, they have to collaborate with <strong>another apprentice</strong> so that they can find a <strong>better solution.</strong>
            </p>
            <p class="center-text no-bottom">
              At the end the <strong>mentor</strong> will give them feedback so that they can master a better solution and learn by their mistakes.
              Learning by doing has proven to be the most efficient method of learning since its introduction into the apprenticeship programme.
            </p>
        </div>  
    </div>
    <div class="box-p80">      
        <div class="orange-decoration"></div>
        <div class="services-slider-wrapper">
            <div class="services-slider">
                <div class="column-3 width-70 animated slideInLeft">
                    <%= image_tag "general/6.jpg", class: "rounded-thumb" %>
                    <h5 class="heading">Do it yourself</h5>
                    <a class="subtitle">No one else, just you</a>
                    <p>
                        Once you are alone, you will learn to never depend on someone else.
                        You will learn the importance of a good research to solve problems.
                    </p>
                    <div class="clear"></div>
                </div>
                
                <div class="column-3 width-70 animated slideInDown">
                    <%= image_tag "general/5.jpg", class: "rounded-thumb" %>
                    <h5 class="heading">Pair programming</h5>
                    <a class="subtitle">Share your knowledge</a>
                    <p>
                      Two minds are better than one. That's why we are totalling convinced pair programming is one of the best programming techniques you can learn.
                    </p>
                    <div class="clear"></div>
                </div>
                
                <div class="column-3 width-70 animated slideInRight">
                    <%= image_tag "general/3.jpg", class: "rounded-thumb" %>
                    <h5 class="heading">Get feedback</h5>
                    <a class="subtitle">Learn new stuff</a>
                    <p>
                        Get feedback from your mentor, so that you can improve your
                        solutions.
                    </p>
                    <div class="clear"></div>
                </div>       
            </div>
        </div>
        
        <div class="decoration box-960"></div>       
    </div>
    <div class="content-overlay"></div>
    </div>
</div>

<div class="content" data-scroll-index="4">
  <div class="box-960">
      <div class="decoration"></div>
        <div class="welcome-container larger-text full-bottom animated slideInDown">
        <h1 class="center-text heading">Meet the team</h1>
            <p class="center-text">
              It's been two years in the making. We have iterated our iterations. It's been a lot of hard work
              but we have found the best people you can, learn, gain industry feedback, learn some more, 
              build your knowledge, learn even more and develop a professional experience every day. The Pernix mentors!
            </p>     
          <div class="orange-decoration hide-if-mobile"></div>
          <div class="decoration hide-if-responsive"></div>
        </div>
    </div>
  <div class="filterable-items half-bottom">
    <div class="filterable-selection">
      <div class="filterable-controls full-bottom">
        <a href="#" class="cat-button catall selected-cat">All</a>
        <a href="#" class="cat-button cat1b">Mentors</a>
                <a href="#" class="cat-button cat2b">Apprentices</a>
      </div>
    </div>
    
    
    <%= render @employees %>
    
    
        <div class="clear"></div>
    </div>
    <div class="decoration box-960"></div>
</div>

<div class="parallax-strip-section full-bottom">
  <div class="parallax parallax-quotes bg1" data-stellar-background-ratio="0.5" data-stellar-offset-parent="true">
      <div class="parallax-slider-wrapper item">
          <div class="parallax-overlay"></div>
      <div class="quotes-slider item box-960">
              <div class="width-70">
                  <h1 class="center-text">
                      "Teach people how to think and ask the right questions so that the world doesn't go to hell if you take a day off"
                    </h1>
                    <p class="right-text">
                      Jeffrey Pfeffer
                    </p>
                </div>
              <div class="width-70">
                  <h1 class="center-text">
                      "Tell me and I forget, teach me and I may remember, involve me and I learn."
                    </h1>
                    <p class="right-text">
                      Benjamin Franklin
                    </p>
                </div>
              <div class="width-70">
                  <h1 class="center-text">
                      "No one learns as much about a subject as one who is forced to teach it."
                    </h1>
                    <p class="right-text">
                      Peter F. Drucker
                    </p>
                </div>            
          </div>
    </div>  
    </div>
</div>

<div class="content" data-scroll-index="5">
  <div class="box-p80">
    <div class="decoration"></div>
    <div class="container larger-text animated slideInDown">
      <h1 class="center-text heading">We'd like to hear from you!</h1>
      <p class="center-text">
        Are you ready to join us?  We are always looking for great talent like <strong>YOU</strong>.
      </p>
    </div>

    <div class="container services-slider-wrapper">
      <div class="services-slider">
        <div class="column-3 width-70 animated slideInLeft">
          <%= image_tag "general/idea.png" %>
          <h5 class="heading">Idea or Project</h5>
          <p>
          Come and join us with an idea or a project that you have been working on. 
          </p>
          <div class="clear"></div>
        </div>

        <div class="column-3 width-70 animated slideInDown">
          <%= image_tag "general/github.png" %>
          <h5 class="heading">Upload</h5>
          <p>
            Upload the code to Github.
          </p>
          <div class="clear"></div>
        </div>

        <div class="column-3 width-70 animated slideInRight">
          <%= image_tag "general/form.png" %>
          <h5 class="heading">Form</h5>
          <p>
            Complete the form below, we will review your code and provide feedback if you qualify for our latest intake.
          </p>
          <div class="clear"></div>
        </div>       
      </div>
    </div>

    <div class="orange-decoration hide-if-mobile"></div>
    <div class="decoration hide-if-responsive"></div>

    <div class="container no-bottom">
      <div class="one-half-responsive no-bottom">
        <h5 class="delay-300 animated slideInDown hide-if-mobile">Let's get in touch!</h5>
        <p class="delay-300 animated slideInDown hide-if-mobile">
          If you have a questions, then please get in contact.
        </p>
        <div class="one-half last no-bottom delay-300 animated slideInRight">
          <h6>Pernix Solutions</h6>
          <p>
          150E Montesacro, Curridabat <br>
          Edificio Mugui, Local #3
          </p>
        </div>
        <div class="clear"></div>
        <div class="decoration hide-if-responsive"></div>
        <div class="one-half no-bottom delay-500 animated slideInLeft">
          <h6 class="half-bottom">Contact Info:</h6>
          <p>
          <a href="#" class="contact-icon"><i class="fa fa-phone"></i>+1-224-788-2930</a><br>
          <a href="#" class="contact-icon"><i class="fa fa-envelope"></i>info@pernix-solutions.com</a><br>
          </p>
        </div>
        <div class="one-half last no-bottom delay-500 animated slideInRight">
          <h6>Get Social:</h6>
          <p>
          <a href="#" class="contact-icon"><i class="fa fa-facebook-square"></i>PernixSolutions</a><br>
          <a href="#" class="contact-icon"><i class="fa fa-twitter-square"></i>@PernixSolutions</a><br>
          <a href="#" class="contact-icon"><i class="fa fa-google-plus-square"></i>PernixSolutions</a>
          </p>
        </div>
      </div>

      <div class="decoration hide-if-responsive"></div>

      <div class="contact-box one-half-responsive last delay-1000 animated fadeIn">
        <h5 class="hide-if-mobile">Apply!</h5>
        <div class="contact-form no-bottom"> 
          <%= render partial: 'applicant_form' %>
        </div>
      </div>
    </div>
    <div class="clear"></div>
  </div>
</div>

<div class="content">
  <div class="box-960">  
  <div class="decoration"></div>
    <div class="footer full-bottom">
      <div class="footer-social-icons full-bottom">
        <a href="#" class="facebook-footer-icon animated slideInLeft"><i class="fa fa-facebook fa-2x"></i></a>
        <a href="#" class="twitter-footer-icon animated slideInDown"><i class="fa fa-twitter fa-2x"></i></a>
        <a href="#" class="google-footer-icon animated slideInRight"><i class="fa fa-google-plus fa-2x"></i></a>
      </div>
      <p class="center-text no-bottom">Copyright 2014 - Pernix. All rights reserved.</p>
    </div>
  </div>
</div>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-49434317-1', 'pernix.cr');
  ga('send', 'pageview');

</script>
